<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><a href="/">Talk Tec Blog</a></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Talk Tec</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <!--Display if User logged in-->
    <a href="/dashboard">Dashboard</a>
    <a id="logout">Logout</a>
    {{else}}
    <!-- Display if User NOT logged in -->
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
  <!-- JS in the case the User initiates logout -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

<img src="https://miro.medium.com/max/1000/1*Pbanw3_bbslETdaWkYMmyw.png" alt="Tech World">

</html>