:root {
  --tertiary: Red;
  --quatrinary:DarkGray;
  --Angelic: white;
  --error: rgb(228, 46, 1);
  --border-radius: 0.8rem;
}

header {
  padding: 25px;
  text-align: center;
  background: red;
  color: var(--Angelic);
}

nav {
  display: flex;
  background-color: black;
}

nav a {
  color: var(--Angelic);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--Angelic);
  background-color: var(--dark);
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: black;
  text-decoration: none;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--Angelic);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
  padding-left: 125px;
  padding-right: 125px;
  flex: auto;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--Angelic);
  color: var(--dark);
}

.title {
  flex: 0;
  background-color: var(--Angelic);
  color: var(--dark);
  font-weight: bold;
}
.comment {
  margin: 20px;
  flex: 0 1 300px;
  background-color: var(--Angelic);
  color: var(--dark);
}
#new-post {
  padding: 10px;
  margin: 25px;
  position: absolute;
}

#new-post-details {
  padding: 25px;
  margin: auto;
  width: 50%;
}

#post-title, #post-content {
  width: 100%;
}

.hidden {
  display: none;
}

.loginContainer, .signupContainer {
  border-style: double;
  border-width: thick;
  border-radius: var(--border-radius);
  border-color: mintcream;
  flex: 0 0 50%;
  padding: 5px;
  border: 3px solid;
  background-color: maroon;
  color: var(--Angelic);
}

.card header {
  color: var(--Angelic);
  text-align: left;
  font-weight: bold;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
}

.card-body {
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}